<header>
  <div class="container" >
      <!-- <input type="checkbox" name="" id="check"> -->
      <div ><img style="height: 60px; width: 60px;" src="assets/images/logo.png" alt="Site Name" /></div>
      <div style="margin:auto" >
          <h3 class="logo">Kaveri Kala Mandram</h3>
      </div>

      <div class="space"></div>

      <div class="nav-btn" >
          <div class="nav-links" style="margin:auto">
              <ul> 
                  <li class="nav-link" style="--i: .6s">
                      <a href="dash">DashBoard</a>
                  </li>
                  <li class="nav-link" style="--i: .6s">
                    <a href="http://kaverikalamandram-kkm.org/">Home</a>
                </li>
          
                  <li class="nav-link" style="--i: 1.1s">
                      <a href="#">OutCome<i class="fas fa-caret-down"></i></a>
                      <div class="dropdown">
                          <ul>


                            <li class="dropdown-link">
                                <a href="#">Outcome 1<i class="fas fa-caret-down"></i></a>
                                <div class="dropdown second">
                                    <ul>
                                      <li class="dropdown-link">
                                          <a href="#">Output 1.1<i class="fas fa-caret-down"></i></a>
                                          <div class="dropdown second">
                                              <ul>
                                                  <li class="dropdown-link">
                                                      <a href="view-Activity111">Activity 1.1.1</a>
                                                  </li>
                                                  <li class="dropdown-link">
                                                      <a href="view-Activity112">Activity 1.1.2</a>
                                                  </li>
                                              </ul>
                                          </div>
                                      </li>

                                      <li class="dropdown-link">
                                          <a href="#">Output 1.2<i class="fas fa-caret-down"></i></a>
                                          <div class="dropdown second">
                                              <ul>
                                                <li class="dropdown-link">
                                                      <a href="view-Activity121">Activity 1.2.1</a>
                                                </li>
                                                <li class="dropdown-link">
                                                      <a href="view-Activity122">Activity 1.2.2</a>
                                                </li>
                                                <li class="dropdown-link">
                                                    <a href="view-Activity123">Activity 1.2.3</a>
                                                </li>
                                                <li class="dropdown-link">
                                                    <a href="view-Activity124">Activity 1.2.4</a>
                                                </li>
                                                <li class="dropdown-link">
                                                    <a href="view-Activity125">Activity 1.2.5</a>
                                                </li>
                                                <li class="dropdown-link">
                                                    <a href="view-Activity126">Activity 1.2.6</a>
                                                </li>
                                              </ul>
                                          </div>
                                      </li>
                                      <li class="dropdown-link">
                                          <a href="#">Output 1.3<i class="fas fa-caret-down"></i></a>
                                          <div class="dropdown second">
                                              <ul>
                                              <li class="dropdown-link">
                                                    <a href="view-Activity131">Activity 1.3.1</a>
                                              </li>
                                              <li class="dropdown-link">
                                                    <a href="view-Activity132">Activity 1.3.2</a>
                                              </li>
                                              <li class="dropdown-link">
                                                  <a href="view-Activity133">Activity 1.3.3</a>
                                              </li>
                                              <li class="dropdown-link">
                                                  <a href="view-Activity134">Activity 1.3.4</a>
                                              </li>
                                              <li class="dropdown-link">
                                                  <a href="view-Activity135">Activity 1.3.5</a>
                                              </li>
                                              <li class="dropdown-link">
                                                  <a href="view-Activity138">Activity 1.3.8</a>
                                              </li>
                                              <li class="dropdown-link">
                                                <a href="view-Activity139">Activity 1.3.9</a>
                                            </li>
                                              </ul>
                                          </div>
                                      </li>


                                    </ul>
                                </div>
                            </li>



                            <li class="dropdown-link">
                                <a href="#">Outcome 2<i class="fas fa-caret-down"></i></a>
                                <div class="dropdown second">
                                    <ul>
                                      <li class="dropdown-link">
                                          <a href="view-Activity211">Activity 2.1.1<i class="fas fa-caret-down"></i></a>
                                      </li>

                                      <li class="dropdown-link">
                                          <a href="view-Activity212">Activity 2.1.2<i class="fas fa-caret-down"></i></a>
                                      </li>

                                      <li class="dropdown-link">
                                          <a href="view-Activity213">Activity 2.1.3<i class="fas fa-caret-down"></i></a>
                                      </li>
                                      <li class="dropdown-link">
                                        <a href="view-Activity222">Activity 2.2.2<i class="fas fa-caret-down"></i></a>
                                    </li>

                                    <li class="dropdown-link">
                                        <a href="view-Activity223">Activity 2.2.3<i class="fas fa-caret-down"></i></a>
                                    </li>

                                    <li class="dropdown-link">
                                        <a href="view-Activity225">Output 2.2.5<i class="fas fa-caret-down"></i></a>
                                    </li>
                                      </ul>
                                </div>
                            </li>



                              <li class="dropdown-link">
                                  <a href="#">Outcome 3<i class="fas fa-caret-down"></i></a>
                                  <div class="dropdown second">
                                      <ul>
                                        <li class="dropdown-link">
                                            <a href="#">Output 3.1<i class="fas fa-caret-down"></i></a>
                                            <div class="dropdown second">
                                                <ul>
                                                    <li class="dropdown-link">
                                                        <a href="view-Activity311">Activity 3.1.1</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="dropdown-link">
                                            <a href="#">Output 3.1.2<i class="fas fa-caret-down"></i></a>
                                            <div class="dropdown second">
                                                <ul>
                                                    <li class="dropdown-link">
                                                        <a href="view-activity3131">Activity 1.3.1</a>
                                                    </li>
                                                    <li class="dropdown-link">
                                                        <a href="view-Activity323">Activity 3.2.3</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="dropdown-link">
                                            <a href="#">Output 2<i class="fas fa-caret-down"></i></a>
                                            <div class="dropdown second">
                                                <ul>
                                                    <li class="dropdown-link">
                                                        <a href="view-Activity324">Activity 3.2.4</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>


                                      </ul>
                                  </div>
                              </li>
                          </ul>
                      </div>
                  </li>
                 
                
                 <li class="nav-link" style="--i: 1.35s">
                    <a href="view-Kpl">KPL F</a>
                </li>
                 <li class="nav-link" style="--i: 1.35s">
                    <a href="view-Poverty">B Poverty</a>
                </li>
                 <li class="nav-link" style="--i: 1.35s">
                    <a href="view-Income">Income</a>
                </li>
                 <li class="nav-link" style="--i: 1.35s">
                    <a href="view-Scale">P-Scale</a>
                </li>
                 <li class="nav-link" style="--i: 1.35s">
                    <a href="view-Score">EHF Score</a>
                </li>
                 <li class="nav-link" style="--i: 1.35s">
                    <a href="view-Scg">SCG</a>
                </li>
              </ul>
          </div>

          <!-- <div class="log-sign" style="--i: 1.8s">
              <a href="#" class="btn transparent">Log in</a>
              <a href="#" class="btn solid">Sign up</a>
          </div> -->
      </div>

  </div>
</header>
<!-- <main>
  <section>
      <div class="overlay"></div>
  </section>
</main> -->