<app-header></app-header>
<button (click)="printPage()" mat-flat-button   class="print">Print</button>
<button class="graph" mat-flat-button id="printPageButton" (click)="viewgraph()">Graph view</button>

<section >
    <div class="example-button-row">
      <button id="printPageButton" class="addbutton" mat-raised-button  (click)="addKpl()">Add Scale</button>
    </div>
    <!-- <div class="example-button-row">
      <button class="viewgraph" mat-raised-button  (click)="ViewGraph()">View Graph view</button>
    </div> -->
  </section>
  <br>
  <div class="arrangement">
    <table datatable >
      <thead class ="contentarrangement">
        <tr class="rowtext">
          <th>No</th>
          <th>Name</th>
          <th>Sex</th>
          <th>Village</th>
          <th>GN</th>
          <th>DS</th>
          <th>District</th>
          <th>2019</th>
          <th>2020</th>
          <th>2021</th>
          <!-- <th id="printPageButton" >Graph view</th> -->
        </tr>
      </thead>
      <tbody class="arrangement" >
        <tr *ngFor="let act of scale" class ="contentarrangement">
              <td>{{act.no}}</td>
              <td>{{act.names}}</td>
              <td>{{act.sex}}</td>
              <td>{{act.village}}</td>
              <td>{{act.gn}}</td>
              <td>{{act.ds}}</td>
              <td>{{act.district}}</td>
              <td>{{act.y1}}</td>
              <td>{{act.y2}}</td>
              <td>{{act.y3}}</td>
              <!-- <td id="printPageButton" ><button class="graph" (click)="viewgraph()">Graph view</button></td> -->
          </tr>
       </tbody>
    </table>
  </div>

  