<app-header></app-header>
<button (click)="printPage()" mat-flat-button   class="print">Print</button>
<div class="headerdesign">
    <h4 style="color: red;">OutCome 1</h4>
    <div >
      <p >Outcome 3:  Reduced vulnerability through improved agriculture and nutrition for people affected by leprosy within Batticaloa, Mannar & Vavuniya Districts</p>
      <p >Output 3.1.2: To encourage patients on MDT and leprosy patients with grade 2 disability to improve their nutrition through kitchen/home gardening’</p>
      <p >Activity : 1.3.1 Conduct leprosy awareness and screening in selected 215 schools in Batticaloa districts.</p>
    </div>
    
</div>

<!-- <section >
    <div class="example-button-row">
      <button class="addbutton" mat-raised-button  (click)="addActivity()">Add Activity 1.1.1</button>
    </div>
  </section> -->
  <br>
  <div class="arrangement">
    <table datatable >
      <thead class ="contentarrangement">
        <tr class="rowtext">
          <th>No</th>
          <th>Name</th>
          <th>Address</th>
          <th>Home Garden</th>
          <th>Budget</th>
          <th>Spent</th>
          <th>Balance</th>
        </tr>
      </thead>

      <tbody class="arrangement" >
        <tr *ngFor="let act of activity3131" class ="contentarrangement">
              <td>{{act.no}}</td>
              <td>{{act.name}}</td>
              <td>{{act.address}}</td>
              <td>{{act.homegarden}}</td>
              <td>{{act.budget}}</td>
              <td>{{act.spent}}</td>
              <td>{{act.budget - act.spent}}</td>
          </tr>
       </tbody>
    </table>
  </div>

  