.headerdesign{
    margin-left: 2%;
}

.arrangement{
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;

}
.contentarrangement{
    text-align: center;
}
.addbutton{
    background-color: #28a745; 
    margin-right: 1%;
    float: right;
    color: #fff;
    margin-top: 2%;
    margin-bottom: 3%;
    
}
table,tbody {
    width: 100%;
  }
.rowtext{
    border: 1px solid #0f0f0b;
  }
  table, th,tr,td {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
  }
  .total{
    font-weight: bold;
  }
  .print{
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 1%;
    margin-left: 1% ;
    color: cornsilk;
    margin-bottom: 2%;
    background-color: rgb(34, 34, 153);
      }
      @media print
    {    
      .print,.design *
        {
            display: none;
        }
        
    }
    @media print {
      #printPageButton {
        display: none;
      }
    }

    .graph{
      background-color: #852931;
      padding-left: 5%;
      padding-right: 5%;
      margin-top: 1%;
      margin-left: 1% ;
      color: cornsilk;
      margin-bottom: 2%;
    }