
<h4>Add Scale Details:</h4>

<div id="temp" class="container">
    <form #f="ngForm" name="form" (submit)="onSubmit(f)" autocomplete="off">
    <div class="row">
      <div class="col-25">
        <label for="uId" class="col-sm-4 col-form-label" >No:</label>
      </div>
      <div class="col-75">
        <input type ="text" [(ngModel)]="scale.no" placeholder="no" name="no" id="no" class="form-control"> 
      </div>
    </div>

    <div class="row">
        <div class="col-25">
            <label for="uId" class="col-sm-4 col-form-label">Name:</label>
        </div>
        <div class="col-75">
            <input type ="text" [(ngModel)]="scale.names" placeholder="name" name="name" class="form-control">
        </div>
      </div>


      <div class="row">
        <div class="col-25">
            <label for="uId" class="col-sm-4 col-form-label">Sex:</label>
        </div>
        <div class="col-75">
            <input type ="text" [(ngModel)]="scale.sex" placeholder="sex" name="sex" class="form-control">
        </div>
      </div>

      <div class="row">
        <div class="col-25">
            <label for="uId" class="col-sm-4 col-form-label">Village:</label>
        </div>
        <div class="col-75">
            <input type ="text" [(ngModel)]="scale.village" placeholder="village" name="village" class="form-control">
        </div>
      </div>

      <div class="row">
        <div class="col-25">
            <label for="uId" class="col-sm-4 col-form-label">GN:</label>
        </div>
        <div class="col-75">
            <input type ="text" [(ngModel)]="scale.gn" placeholder="gn" name="gn" class="form-control">
        </div>
      </div>

      <div class="row">
        <div class="col-25">
            <label for="uId" class="col-sm-4 col-form-label">DS:</label>
        </div>
        <div class="col-75">
            <input type ="text" [(ngModel)]="scale.ds" placeholder="ds" name="ds" class="form-control">
        </div>
      </div>

      <div class="row">
        <div class="col-25">
            <label for="uId" class="col-sm-4 col-form-label">District:</label>
        </div>
        <div class="col-75">
            <input type ="text" [(ngModel)]="scale.district" placeholder="district" name="district" class="form-control">
        </div>
      </div>

      <div class="row">
        <div class="col-25">
            <label for="uId" class="col-sm-4 col-form-label">2019:</label>
        </div>
        <div class="col-75">
            <input type ="text" [(ngModel)]="scale.y1" placeholder="2019" name="y1" class="form-control">
        </div>
      </div>

      <div class="row">
        <div class="col-25">
            <label for="uId" class="col-sm-4 col-form-label">2020:</label>
        </div>
        <div class="col-75">
            <input type ="text" [(ngModel)]="scale.y2" placeholder="2020" name="y2" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
            <label for="uId" class="col-sm-4 col-form-label">2021:</label>
        </div>
        <div class="col-75">
            <input type ="text" [(ngModel)]="scale.y3" placeholder="2021" name="y3" class="form-control">
        </div>
      </div>


    <div class="row">
        <button class="design" type="submit" style="float: right;" mat-raised-button color="primary">Save Details</button>  
        <button class="design2"mat-raised-button color="warn" style="float: right;"  (click)="close()" >Cancel</button>
    </div>


  </form>
</div>




