
<!-- <a href="#"><img src="assets/images/logo.png" alt="Site Name" /></a> -->
<app-header>
    
</app-header>


<button (click)="printPage()" mat-flat-button   class="print">Print</button>
<div >
<div class="row" >
    <div class="column" >

        <!-- <mat-card> -->
         <app-povertycompare></app-povertycompare>
        <!-- </mat-card> -->
    </div>
    <div class="column" >
        <!-- <mat-card> -->
            <app-incomecompare></app-incomecompare>
        <!-- </mat-card> -->
    </div>
  </div>


  <div class="row">
    <div class="column" >
        <!-- <mat-card> -->
            <app-scalecompare></app-scalecompare>
        <!-- </mat-card> -->
    </div>
    <div class="column" >
        <!-- <mat-card> -->
            <app-scorecompare></app-scorecompare>
        <!-- </mat-card> -->
    </div>
  </div>

</div>




<!-- <img class="bg" src="assets/images/kkmfrontimg.jpeg" alt="Italian Trulli"> -->